@import "mods/nodebb-plugin-recent-cards";

.answered {
	border: 1px solid @brand-success;
	color: @brand-success;
}

.unanswered {
	border: 1px solid @brand-warning;
	color: @brand-warning;
}

.unanswered, .answered {
	text-transform: uppercase;
	font-size: 10px;
	padding: 2px 5px;
	vertical-align: 12%;
	font-weight: 700;

	i {
		vertical-align: 11%;
	}
}

.breadcrumb {
	.answered, .unanswered {
		display: none;
	}
}

html .topic {
	.answered {
		color: @brand-success;
	}

	.unanswered {
		color: @brand-warning;
	}

	.answered, .unanswered {
		padding: 2px 8px;
		vertical-align: 21%;
	}
}

.posts [component="post"][data-index="-1"].isSolved {
	border-left: 8px solid @brand-success;
    padding: 20px 20px 0px 20px;
    margin-bottom: 25px;
    margin-top: -20px;
    margin-top: 0;
	border-top: 1px solid @brand-success;
	border-bottom: 1px solid @brand-success;
	margin-left: -28px;
	padding-bottom: 15px;

	.necro-post {
		display: none;
	}

	@media (max-width: @screen-xs-max) {
		margin-left: -15px;
	}
	
	> hr {
		display: none;
	}

	.bookmarked:before {
		color: @brand-success;
		content: "\f00c";
	}
}

html .topic [component="topic/labels"] {
    margin-bottom: 30px;
	font-weight: 700;
	
	> * {
		margin-right: 5px;
	}

	.answered, .unanswered {
		padding: 4px 8px;
	}
}


@media (max-width: @screen-sm-min) {
	html .topic [component="topic/labels"] {
		margin-top: -10px;
	}
}